.not-found-container {
    margin: 10px;
}

.not-found-body {
    background-color: white;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found-body-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}